.classBtn {
    -fx-background-color: transparent;
    /*-fx-border-color: black;*/
}
.classBtn:hover {
    -fx-border-color: #fff;
    -fx-border-radius: 15;
    -fx-opacity: 0.6;
    -fx-cursor: hand;
}
.wordListView .content{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 15;
}
.wordListView {
    -fx-translate-x: 55;
    -fx-translate-y: 195;
    -fx-pref-height: 372;
    -fx-pref-width: 164;

}
.wordListView:hover {
    -fx-cursor: hand;
}
.textBox .content{
    -fx-cursor: hand;
    -fx-background-color: transparent;
}
.speaker {
    -fx-translate-x: 828;
    -fx-translate-y: 534;
    -fx-cursor: hand;
}

.speaker-container:hover {
    -fx-cursor: hand;
    -fx-background-color: gray;
    -fx-opacity: 0.3;
}
.textBox {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 15;
}
.textBox:hover {
    -fx-border-color: #fff;
}

.textBox .scroll-pane {
    -fx-background-color: transparent;
}

.textBox .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.textBox .scroll-pane .content{
    -fx-background-color: transparent;
}


.radio-button {
    -fx-padding: 12 12 12 12;
}