.classBtn {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 15;
}
.classBtn:hover {
    -fx-border-color: #fff;
    -fx-opacity: 0.6;
    -fx-cursor: hand;
}
.listView {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 15;
}
.wordListView {
    -fx-translate-x: 45;
    -fx-translate-y: 150;
    -fx-pref-height: 450;
    -fx-pref-width: 150;

}
.wordListView:hover {
    -fx-cursor: hand;
}
.textBox .content{
    -fx-cursor: hand;
}
.speaker {
    -fx-translate-x: 773;
    -fx-translate-y: 534;
    -fx-cursor: hand;
}

.speaker-container {
    -fx-cursor: hand;
}
