.classBtn {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    /*-fx-border-color: black;*/
}
.classSubBtn {
    -fx-background-color: #f39b6b;
    -fx-background-radius: 10;
}
.classSubBtn:hover {
    -fx-background-color: #F38D6B;
    -fx-cursor: hand;
    -fx-effect:dropshadow(one-pass-box,white,8,0.0,2,0);
}
.classBtn:hover {
    -fx-border-color: #fff;
    -fx-cursor: hand;
    -fx-background-color: #4CB5E2;
    -fx-effect:dropshadow(one-pass-box,white,8,0.0,2,0);
}
.wordListView .content{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 15;
}
.wordListView {
    -fx-translate-x: 55;
    -fx-translate-y: 195;
    -fx-pref-height: 372;
    -fx-pref-width: 164;

}
.wordListView:hover {
    -fx-cursor: hand;
}
.textBox .content{
    -fx-cursor: hand;
    -fx-background-color: transparent;
}
.speaker {
    -fx-translate-x: 828;
    -fx-translate-y: 534;
    -fx-cursor: hand;
}

.speaker-container:hover {
    -fx-cursor: hand;
    -fx-background-color: gray;
    -fx-opacity: 0.3;
}
.textBox {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 15;
}
.textBox:hover {
    -fx-border-color: #fff;
}

.textBox .scroll-pane {
    -fx-background-color: transparent;
}

.textBox .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.textBox .scroll-pane .content{
    -fx-background-color: transparent;
}
